<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>perf.email: A fortnightly newsletter on web performance, accessibility and user experience.</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="description" content="A fortnightly newsletter on web performance, accessibility and user experience.">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="perf.email" />
  <meta property="og:description" content="A fortnightly newsletter on web performance, accessibility and user experience." />
  <meta property="og:url" content="https://perf.email/" />
  <meta property="og:site_name" content="perf.email" />
  <link rel="alternate" type="application/atom+xml" title="Feed" href="/rss" />
</head>

<body>

  <header role="banner">
    <div class="container">
      <h4 class="perfemail-logo">
        <svg width="27" height="30" class="spade">
          <use xlink:href="#spade" link:href="#spade">
        </svg>
        <a href="https://calibreapp.com">Performance Newsletter</a>
      </h4>
      <h1>Web performance tools, talks and resources delivered to your inbox twice a month.</h1>
      <a href="https://calibreapp.us2.list-manage.com/subscribe?u=9067434ef642e9c92aa7453d2&id=7cba5dc7bd" class="button">Subscribe
        to perf.email</a>
      <p>We will never send spam or share your details with third parties.</p>
    </div>
  </header>

  <div class="container">
    <main role="main">
      <h1>Issues</h1>

      <ul>
        <li>Issue #32 coming in September 23.</li>

        <% htmlWebpackPlugin.options.issues.forEach((issue, index) => { %>
        <% if (index == htmlWebpackPlugin.options.issues.length - 1) { %>
        <li>
          <% } else { %>
        <li>
          <% } %>
          <h2>
            <a href="<%= issue.url %>">
              <%= issue.title %> &rarr;
            </a>
          </h2>
          <p>
            <%= issue.description %>
          </p>
        </li>
        <% }) %>

      </ul>
    </main>
  </div>

  <footer role="contentinfo">
    <p>Follow
      <a href="https://twitter.com/perfemail">@perfemail</a> on Twitter for updates.</p>

    <h4>Brought to you by</h4>
    <p>
      <a href="https://calibreapp.com" class="calibre-logo">
        <svg width="140" height="30" style="fill: white">
          <use xlink:href="#logo" link:href="#logo">
        </svg>
      </a>
    </p>
    <p>Performance monitoring for teams wanting to build better, faster products.</p>
    <p>Curated by
      <a href="https://twitter.com/benschwarz">@benschwarz</a> and
      <a href="https://twitter.com/fox">@fox</a>.
    </p>

  </footer>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49668110-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
