* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(203, 5%, 32%);
  font-size: 18px;
  margin: 0;
}

/*-----------------------------------------------------------------
* Links
------------------------------------------------------------------*/

a {
  text-decoration: none;
  color: hsl(218, 50%, 50%);
}

a:hover {
  text-decoration: underline;
}

/*-----------------------------------------------------------------
* Typography
------------------------------------------------------------------*/

h1 {
  font-size: 22px;
  line-height: 1.2;
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  color: hsl(0, 0%, 20%);
  margin-bottom: 30px;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  line-height: 1.4;
}

p:not(:last-of-type) {
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------
* Subscription form
------------------------------------------------------------------*/

.button {
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 2px 2px hsl(204, 20%, 95%);
  width: 100%;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: hsl(218, 50%, 50%);
  font-weight: bold;
  font-size: 14px;
  margin: 15px 0;
  display: inline-block;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(218, 50%, 30%);
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .button {
    width: auto;
  }
}

/*-----------------------------------------------------------------
* Header
------------------------------------------------------------------*/

header {
  padding: 60px 0;
  background-color: hsl(218, 100%, 98%);
}

.perfemail-logo {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
}

.spade {
  width: 40px;
  margin-right: 15px;
}

/*-----------------------------------------------------------------
* Container
------------------------------------------------------------------*/

.container {
  padding: 0 30px;
}

@media screen and (min-width: 64em) {
  .container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
  }
}

/*-----------------------------------------------------------------
* Issue list
------------------------------------------------------------------*/

main {
  padding: 30px 0;
}

main h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 30px 0;
}

li:first-child {
  padding-top: 0;
}

li:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 88%);
}

li p {
  margin: 0;
}

li h2 {
  margin: 0 0 10px 0;
}

/*-----------------------------------------------------------------
* Footer
------------------------------------------------------------------*/

footer {
  padding: 30px;
  background-color: hsl(208, 16%, 15%);
  color: hsl(203, 16%, 80%);
  font-size: 16px;
  text-align: center;
}

footer a {
  color: white;
}

footer p {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

footer h4 {
  color: inherit;
}

.calibre-logo svg:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
