* {
  box-sizing: border-box;
}

:root {
  --blue500: #041452;
  --blue300: #3057F4;
  --blue100: #CFD8FC;
  --grey500: #2B2B2B;
  --grey400: #5E5E5E;
  --grey200: #C4C4C4;
  --grey100: #E5E5E5;
  --green100: #D9F2E6;
  --yellow200: #FFE599;
  --red100: #F9D6D2;
  --purple100: #D8D1FA;

  --spacing-unit: 15px;
  --space-1: var(--spacing-unit); /* 15px */
  --space-2: calc(var(--spacing-unit) * 2); /* 30px */
  --space-3: calc(var(--spacing-unit) * 4); /* 60px */
  --space-4: calc(var(--spacing-unit) * 6); /* 90px */

  --type-h1: 60px;
  --type-h2: 36px;
  --type-paragraph-l: 24px;
  --type-paragraph-m: 20px;
  --type-paragraph-s: 18px;

  --type-regular: 400;
  --type-semibold: 500;
  --type-bold: 700;
}

body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey500);
  font-size: var(--type-paragraph-m);
  font-weight: var(--type-regular);
  margin: 0;
}

/*-----------------------------------------------------------------
* Links
------------------------------------------------------------------*/

a {
  font-weight: var(--type-semibold);
  text-decoration: underline;
  color: inherit;
  transition: all 1s ease-in;
}

a:hover {
  text-decoration: none;
}

/*-----------------------------------------------------------------
* Typography
------------------------------------------------------------------*/

h1 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: var(--space-2);
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: var(--type-h1);
  }
}

h2 {
  font-size: var(--type-h2);
}

h1,
h2 {
  color: var(--blue500);
  font-weight: var(--type-bold);
}

p {
  line-height: 1.2;
  margin: 0;
}

/*-----------------------------------------------------------------
* Colors
------------------------------------------------------------------*/

.text-blue300 {
  color: var(--blue300);
}

.text-grey400 {
  color: var(--grey400);
}

.bg-green100 {
  background-color: var(--green100);
}

.bg-blue100 {
  background-color: var(--blue100);
}

.bg-red100 {
  background-color: var(--red100);
}

.bg-purple100 {
  background-color: var(--purple100);
}

.bg-grey100 {
  background-color: var(--grey100);
}

.bg-yellow200 {
  background-color: var(--yellow200);
}

/*-----------------------------------------------------------------
* Subscription form
------------------------------------------------------------------*/

.button {
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 2px 2px hsl(204, 20%, 95%);
  width: 100%;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: hsl(218, 50%, 50%);
  font-weight: bold;
  font-size: 14px;
  margin: 15px 0;
  display: inline-block;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(218, 50%, 30%);
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .button {
    width: auto;
  }
}

/*-----------------------------------------------------------------
* Header
------------------------------------------------------------------*/

.perfemail-logo {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
}

.spade {
  width: 40px;
  margin-right: 15px;
}

/*-----------------------------------------------------------------
* Container
------------------------------------------------------------------*/

.container {
  padding: 0 20px;
}

@media screen and (min-width: 64em) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}


/*-----------------------------------------------------------------
* Footer
------------------------------------------------------------------*/

footer {
  padding: 30px;
  background-color: hsl(208, 16%, 15%);
  color: hsl(203, 16%, 80%);
  font-size: 16px;
  text-align: center;
}

footer a {
  color: white;
}

footer p {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

footer h4 {
  color: inherit;
}

.calibre-logo svg:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

/*-----------------------------------------------------------------
* Testimonials
------------------------------------------------------------------*/

.testimonials-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (min-width: 48em) {
  .testimonials-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.testimonial {
  border-radius: 6px;
  padding: var(--space-2);
  margin-bottom: var(--space-2);
  flex-basis: 380px;
}

.testimonial p:first-child {
  font-size: var(--type-paragraph-l);
  font-weight: var(--type-semibold);
  margin-bottom: var(--space-2);
}

.testimonial-author {
  overflow: auto;
}

.testimonial-author-photo {
  float: left;
  border-radius: 3px;
  margin-right: var(--space-1);
}